= form_for @quote, html: { class: "form form-horizontal quote" } do |f|
  .form-group
    = f.label :label, class: 'control-label'
    .controls
      = f.text_field :label, class: 'form-control', required: true
    = error_span(@quote[:label])
  .form-group
    = f.label :content, class: 'control-label'
    .controls
      = f.text_area :content, class: 'form-control', required: true
    = error_span(@quote[:content])
  .form-group
    = f.label :source_id, class: 'control-label'
    .controls
      = f.select :source_id,
        options_from_collection_for_select(Source.all, 'id', 'label', @quote.source_id),
        {include_blank: true},
        {class: 'form-control'}
    = error_span(@quote[:source_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), quotes_path, :class => 'btn btn-default'
