= form_for @quote, html: { class: "form form-horizontal quote" } do |f|
  .form-group
    = f.label :label, class: 'control-label'
    .controls
      = f.text_field :label, class: 'form-control', required: true
    = error_span(@quote[:label])

  = f.hidden_field :source_id
    
  #quote_source.well
    #quote_source_toggler
      %strong= 'Source'
    #quote_source_fields.fields-for
      = f.fields_for :source, @quote.source do |source|
        = render partial: 'sources/fields', locals: {f: source}
    
  #versions.well
    #versions_toggler
      %strong= 'Versions'
    #versions_fields.fields-for
      = f.fields_for :versions do |version|
        = render partial: 'version_fields', locals: {f: version}
      .links
        = link_to_add_association 'Add version', f, :versions, class: 'btn btn-default btn-xs'

  %hr
  
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), quotes_path, :class => 'btn btn-default'

:javascript
  $("#quote_source_toggler").click(function (){
    $("#quote_source_fields").toggle();
  })

  $("#versions_toggler").click(function (){
    $("#versions_fields").toggle();
  })
