#modalForm
  = form_for quote, remote: true, html: { class: "form form-horizontal quote" } do |f|
    .modal.fade{id: "quoteModalForm", tabindex: "-1", role: "dialog", aria: {labelledby: "eventModalFormTitle", hidden: "true"}}
      .modal-dialog.modal-dialog-centered{role: "document"}
        .modal-content
          .modal-header
            %h5.modal-title#eventModalFormTitle New quote
            %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Close"}}
          .modal-body
            .form-group
              = f.label :label, class: 'control-label'
              .controls
                = f.text_field :label, class: 'form-control'
              = # error_span(@quote[:label])

            .form-group
              = f.label :original, class: 'control-label'
              .controls
                = f.text_area :original, class: 'form-control', required: true

            .form-group
              = f.label :translation, class: 'control-label'
              .controls
                = f.text_area :translation, class: 'form-control'

            = f.hidden_field :source_id

          .modal-footer
            = f.submit nil, class: 'btn btn-primary', onclick: "$('#quoteModalForm').modal('hide')"
            = link_to t('.cancel', :default => t("helpers.links.cancel")),
                      '#',
                      data: {dismiss: "modal"},
                      class: 'btn btn-default'
