- model_class = Quote

= link_to 'New quote', new_quote_path, :class => 'btn btn-primary'

- @quotes.each do |quote|
  .container-fluid
    %h2= link_to quote.label, quote_path(quote)
    = render partial: 'quotes/quote', locals: {quote: quote}
    - if quote.source
      - source = quote.source
      %footer
        .pull-right
          &mdash;
          = quote.source.authors.map(&:screen_label).join(', ').html_safe
          %br
          - unless source.root?
            - root = source.ancestors.first
            %span= link_to root.label, source_path(root)
          %p= link_to quote.source.label, source_path(quote.source)
