.page-header
  %h2= @quote.label
  
- if @quote.source
  = link_to @quote.source.label, @quote.source

- @quote.versions.each do |version|
  %blockquote
    = version.text

= button_edit    @quote
= button_destroy @quote
