- model_class = Source

%table.table.table-striped
  %thead
    %tr
      %th
        &nbsp;
      %th= model_class.human_attribute_name(:label)
      %th= 'Views'
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - sources.each do |source|
      %tr
        %td= category_icon(source)
        %td
          %p
            = by_line_links(source)
            = link_to source.label, source_path(source)
          %p= # TODO source.outline.description
        %td
          = link_to 'Quotes', quotes_source_path(source), :class => 'btn btn-xs btn-default'
          = link_to 'Events', events_path(source_ids: [source]), :class => 'btn btn-xs btn-default'
        %td
          = button_edit_small source
          = button_destroy_small source

= link_to t('.new', :default => t("helpers.links.new")), new_source_path, :class => 'btn btn-default'
