= form_tag search_sources_path, method: :get do
  = text_field :q, params[:q]
  = submit_tag

- if @response
  - for match in @response.results
    .match
      %h3= link_to match.label, source_path(match.id)
      - for chunk in match.highlight.content
        %p= chunk.html_safe
