- model_class = Source

#modalForm

.panel.panel-info
  .panel-heading
    = source_title(@source)
  .panel-body

    %table
      %tr{valign: 'top'}
        %td
          .source-cover{style: 'margin-bottom: 15px; margin-right: 15px;'}
            - if @source.cover.attached?
              = image_tag @source.cover.variant(resize: "200")

        %td
          .source-attributes
            - if @source.link.present?
              %b Link
              = source_link(@source)
            - if @source.anchor.present?
              %b Anchor
              = @source.anchor
            .content
              = @source.content

    .controls
      = link_to 'Add table of contents', new_section_source_path(@source), :class => 'btn btn-default'
      = link_to 'Quotes', quotes_source_path(@source), :class => 'btn btn-default'
      = link_to 'Events', events_path(events_filter: {source_ids: [@source], render_method: 'vis_timeline'}), :class => 'btn btn-default'
      = link_to 'Export', export_source_path(@source), :class => 'btn btn-default'

      .pull-right
        = button_edit    @source
        = button_destroy @source

- if @source.outline
  %p= temp_org_render(@source.outline.text)

- for section in @source.descendants.includes(:outline, :terms, :events, :quotes)
  = render partial: 'section', locals: {section: section}

= render partial: 'sources/events', locals: {events: @source.events}

:javascript

  anchors.options = {
    placement: 'left',
  };

  anchors.add();
