- model_class = Source

= source_title

= source_link

.controls
  = link_to 'Add table of contents', new_section_source_path(@source), :class => 'btn btn-default'
  = link_to 'Quotes', quotes_source_path(@source), :class => 'btn btn-default'
  = link_to 'Events', events_path(source_ids: [@source]), :class => 'btn btn-default'

  = link_to t('.edit', :default => t("helpers.links.edit")),
      edit_source_path(@source),
      class: 'btn btn-default'

  = link_to t('.destroy', :default => t("helpers.links.destroy")),
      source_path(@source),
      :method => "delete",
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-default'

= render partial: 'content', locals: {source: @source}
          
- for section in @source.descendants.includes(:outline)
  = content_tag("h#{section.depth}", section.label, id: section.id) do
    = link_to section.label, section
  = render partial: 'content', locals: {source: section}
    
  = link_to 'Add quote',
      new_quote_path(quote: {source_id: section.id}),
      class: 'btn btn-xs btn-default'
  
  = render partial: 'events/editor', locals: {events: section.events}
  = link_to 'Add event',
      new_event_path(event: {source_id: section.id}),
      class: 'btn btn-xs btn-default'
  
= render partial: 'events/editor', locals: {events: @source.events}

:javascript

  anchors.options = {
    placement: 'left',
  };
  
  anchors.add();
