%h1 Listing comments

%table
  %thead
    %tr
      %th Author
      %th Quote
      %th Text
      %th Created at
      %th Updated at
      %th
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.author_id
        %td= comment.quote_id
        %td= comment.text
        %td= comment.created_at
        %td= comment.updated_at
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Comment', new_comment_path
