- model_class = Comment
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:author_id) + ':'
  %br
  = @comment.author_id
%p
  %strong= model_class.human_attribute_name(:quote_id) + ':'
  %br
  = @comment.quote_id
%p
  %strong= model_class.human_attribute_name(:text) + ':'
  %br
  = @comment.text


= link_to t('.back', :default => t("helpers.links.back")), comments_path, :class => 'btn btn-default'
= button_edit    @comment
= button_destroy @comment


