= form_for @person, html: { class: "form form-horizontal person" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@person[:name])
  .form-group
    = f.label :screen_name, class: 'control-label'
    .controls
      = f.text_field :screen_name, class: 'form-control', required: true
    = error_span(@person[:screen_name])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@person[:description])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), people_path, :class => 'btn btn-default'
