- model_class = Person
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:label) + ':'
  %br
  = @person.label
%p
  %strong= model_class.human_attribute_name(:screen_label) + ':'
  %br
  = @person.screen_label
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @person.description

%p
  %strong= model_class.human_attribute_name(:authored) + ':'
  %ul
    - for source in @person.authored
      %li= link_to source.label, source_path(source)

= link_to t('.back', :default => t("helpers.links.back")), people_path, :class => 'btn btn-default'
= button_edit    @person
= button_destroy @person
