%p#notice= notice

%p
  %b Label:
  = @person.label
%p
  %b Description:
  = @person.description
%p
  %b Screen label:
  = @person.screen_label
%p
  %b Link:
  = @person.link
%p
  %b Created at:
  = @person.created_at
%p
  %b Updated at:
  = @person.updated_at

%b Events:
%ul
  - for event in @person.events
    %li= link_to event.label, event_path(event)

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
