= simple_form_for(@outline) do |f|
  = f.error_notification

  .form-inputs
    = f.input :text
    = f.input :source_id
    = f.input :created_at
    = f.input :updated_at

  .form-actions
    = f.button :submit
