- model_class = Outline
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:text)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @outlines.each do |outline|
      %tr
        %td= link_to outline.id, outline_path(outline)
        %td= outline.text
        %td=l outline.created_at
        %td
          = button_edit    outline
          = button_destroy outline
          
= link_to t('.new', :default => t("helpers.links.new")), new_outline_path, :class => 'btn btn-primary'
