- model_class = Outline
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:text) + ':'
  %br
  = @outline.text


= link_to t('.back', :default => t("helpers.links.back")), outlines_path, :class => 'btn btn-default'
= button_edit    @outline
= button_destroy @outline

