= form_for @term, html: { class: "form form-horizontal term" } do |f|
  .form-group
    = f.label :label, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :label, class: 'form-control', required: true
    = f.error_span(:label)
  .form-group
    = f.label :text, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_area :text, class: 'form-control', required: true
    = f.error_span(:text)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), terms_path, :class => 'btn btn-default'
