- model_class = Term

%p
  %strong= model_class.human_attribute_name(:label) + ':'
  %br
  = @term.label
%p
  %strong= model_class.human_attribute_name(:text) + ':'
  %br
  = @term.text

%ul
  - for source in @term.sources
    %li= link_to source.label, source

= link_to t('.back', :default => t("helpers.links.back")), terms_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_term_path(@term), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), term_path(@term), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
