= form_tag events_path, method: 'get' do
  .filters.well
    %div{style: 'margin: -10px 0px 10px -10px;'}
      %i.fa.fa-cog= '&nbspFilters'.html_safe
    %table{style:'width: 100%;'}
      %tr
        %td{rowspan: 2, style:'width: 22%; height: 300px;'}
          = select_tag 'category_ids', grouped_options_for_select(Category.roots.map{|r| [r.name, r.descendants.map{|d| [' » '*(d.depth-1 )+ d.name, d.id]}]}, params['category_ids']).html_safe, multiple: true, include_blank: true, onclick: 'this.form.submit();', style:'display: block; height: 100%; width: 100%; margin: 0px;'
        %td{style:'width: 73%;'}
          = select_tag 'source_ids', options_from_collection_for_select(Source.all, :id, :name, params[:source_ids]), multiple: true, include_blank: true, onclick: 'this.form.submit();', style: 'width: 100%;  height: 149px;'
        %tr
          %td{style:'width: 73%;'}
            = select_tag 'render_method', render_method_options(@partial), onclick: 'this.form.submit();', multiple: true, style:'width: 100%;  height: 149px;'
