= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :label
    = f.input :description
    = f.input :start_date, as: :datetime
    = f.input :end_date,   as: :datetime
    = f.input :age,        as: :boolean  
    = f.input :period,     as: :boolean
    = f.input :link
    = f.association :categories,
                       collection:   Category.all,
                       label_method: :label,
                       value_method: :uuid,
                       selected: @event.categories.map(&:uuid),
                       include_blank: true,
                       input_html: { multiple: true }

    = f.association :people,
                       collection:   Person.all,
                       label_method: :label,
                       value_method: :uuid,
                       selected: @event.people.map(&:uuid),
                       include_blank: true,
                       input_html: { multiple: true }

    = f.association :location,
                       collection:   Location.all,
                       label_method: :label,
                       value_method: :uuid,
                       selected: @event.location.try(:uuid)
                       include_blank: true

  .form-actions
    = f.button :submit
