= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :label
    = f.input :description
    = f.input :start_date
    = f.input :end_date
    = f.input :age
    = f.input :period
    = f.input :link
    = f.input :categories,
                collection:   Category.all,
                label_method: :label,
                value_method: :uuid,
    = f.association :categories,
                       collection:   Category.all,
                       label_method: :label,
                       value_method: :uuid,
                       selected: @event.categories,
                       include_blank: true,
                       input_html: { multiple: true }
    
  .form-actions
    = f.button :submit
