= form_for @event, html: { class: "form form-horizontal event" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@event[:name])
  .form-group
    = f.label :year, class: 'control-label'
    .controls
      = f.text_field :year, class: 'form-control', required: true
    = error_span(@event[:year])
  .form-group
    = f.label :month, class: 'control-label'
    .controls
      = f.text_field :month, class: 'form-control'
    = error_span(@event[:month])
  .form-group
    = f.label :day, class: 'control-label'
    .controls
      = f.text_field :day, class: 'form-control'
    = error_span(@event[:day])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@event[:description])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn btn-default'
