- model_class = Event

- data = @events_filter.data

%table.table
  - for year in data[:events_by_year].keys.sort
    %tr
      %td= year
      - if data[:events_by_year][year].present?
        - for event in data[:events_by_year][year]
          %td
            %p= link_to event.label, event_path(event)
          %td
            - for category in event.categories
              %span{style: "background-color: #{category.color}"}= category.label
      - else
        %td= '&nbsp;'.html_safe
        %td= '&nbsp;'.html_safe

