= javascript_include_tag 'vis', 'data-turbolinks-track' => true
= stylesheet_link_tag    'vis', media: 'all', 'data-turbolinks-track' => true

:css
  .vis-item.vis-background.negative {
    background-color: rgba(3, 3, 3, 0.2);
  }

#visualization

- data = @events_filter.data

:javascript

  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet(
    #{data[:items]&.html_safe}
  );

  // Configuration for the Timeline
  var options = #{data[:options]&.html_safe}

  // Groups
  #{  data[:groups]&.html_safe }

  // Create a Timeline
  #{ data[:initializer] }

  timeline.fit();
