- model_class = Event

.filters.well
  = form_tag events_path, method: 'get' do
    = select_tag 'render_method', render_method_options(params[:render_method]), onclick: 'this.form.submit();'
    = select_tag 'source_ids', options_from_collection_for_select(Source.all, :id, :name, params[:source_ids]), multiple: true, include_blank: true, onclick: 'this.form.submit();'
    = select_tag 'category_ids', options_from_collection_for_select(Category.all, :id, :name, params[:category_ids]), multiple: true, include_blank: true, onclick: 'this.form.submit();'

%table.table
  - for year in @events_by_year.keys.sort
    %tr
      %td= year
      %td
        - for event in @events_by_year[year]
          %p= link_to event.name, event_path(event)



= render partial: 'default_table', locals: {events: @events}
  
= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary'
