%p#notice= notice

%p
  %b Label:
  = @event.label
%p
  %b Description:
  = @event.description
%p
  %b Start date:
  = @event.start_date
%p
  %b End date:
  = @event.end_date
%p
  %b Age:
  = @event.age
%p
  %b Period:
  = @event.period
%p
  %b Link:
  = @event.link

%b Categories:
%ul
  - for category in @event.categories
    %li= link_to category.label, category_path(category)

%b People:
%ul
  - for person in @event.people
    %li= link_to person.label, person_path(person)
    
= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
