= form_for @toc, html: { class: "form form-horizontal toc" } do |f|
  .form-group
    = f.label :label, class: 'control-label'
    .controls
      = f.text_field :label, class: 'form-control', required: true
    = error_span(@toc[:label])
  .form-group
    = f.label :parent_id, class: 'control-label'
    .controls
      = f.text_field :parent_id, class: 'form-control', required: true
    = error_span(@toc[:parent_id])
  .form-group
    = f.label :lft, class: 'control-label'
    .controls
      = f.text_field :lft, class: 'form-control', required: true
    = error_span(@toc[:lft])
  .form-group
    = f.label :rgt, class: 'control-label'
    .controls
      = f.text_field :rgt, class: 'form-control', required: true
    = error_span(@toc[:rgt])
  .form-group
    = f.label :depth, class: 'control-label'
    .controls
      = f.text_field :depth, class: 'form-control', required: true
    = error_span(@toc[:depth])
  .form-group
    = f.label :outline_id, class: 'control-label'
    .controls
      = f.text_field :outline_id, class: 'form-control', required: true
    = error_span(@toc[:outline_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), tocs_path, :class => 'btn btn-default'
