%table.table.stripped
  %thead
    %tr
      %th{style: 'width:30%'}
      %th{style: 'width:30%'}
      %th{style: 'width:30%'}

        %tbody
          - resources.each do |resource|

            %tr
              %td
                - if resource.subject.respond_to?(:qname) #&& !resource.object.qname.empty?
                  = resource.subject.qname
                  = resource.subject.to_s
                  = link_to resource.subject.to_s, {controller: 'resources', action: 'fget', id: CGI.escape(resource.subject.to_s)}
                - else
                  resource.subject.to_s
              %td
                - if resource.predicate.respond_to?(:qname)# && !resource.predicate.qname.empty?
                  = resource.predicate.qname
                  = resource.predicate.to_s
                - else
                  resource.predicate.to_s
              %td
                - if resource.object.respond_to?(:qname) #&& !resource.object.qname.empty?
                  = resource.object.qname
                  = resource.object.to_s
                - else
                  = resource.object.to_s

              %td= link_to 'Show' #, resource
              %td= link_to 'Edit' #, edit_resource_path(resource)
              %td= link_to 'Destroy'#, resource, :method => :delete, :data => { :confirm => 'Are you sure?' }
