- model_class = Category
.page-header
  %h3
    = ancestors_breadcrumbs(@category)

%p= @category.description

%p
  %strong= model_class.human_attribute_name(:color) + ':'
  %span{style: "background-color: #{@category.color}"}
    = @category.color

%p
  %strong= model_class.human_attribute_name(:icon) + ':'
  = category_icon(@category)    

%hr
  
- if @category.event_category?
  %div
    = render partial: 'events/editor', locals: {events: @category.events}

- if @category.source_category?
  %div
    = render partial: 'sources/editor', locals: {sources: @category.sources}

- if @category.location_category?
  %div
    = render partial: 'events/editor', locals: {events: Event.from_location(@category)}

    
%hr
    
= link_to t('.back', :default => t("helpers.links.back")), categories_path, :class => 'btn btn-default'
= button_edit    @category
= button_destroy @category
