!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "Timeline: #{params[:controller]}/#{params[:action]}"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{style: "width: 90%; margin: auto;"}

    .page-header.row

      .col-sm-2.menu-item
        %i.fa.fa-navicon{style: "color: #{'red' if params[:controller] == 'events'}"}
          = link_to 'Events', events_path

      .col-sm-2.menu-item
        %i.fa.fa-folder-open{style: "color: #{'red' if params[:controller] == 'sources'}"}
          = link_to 'Sources', sources_path

      .col-sm-2.menu-item
        %i.fa.fa-comment{style: "color: #{'red' if params[:controller] == 'quotes'}"}
          = link_to 'Quotes', quotes_path

      .col-sm-2.menu-item
        %i.fa.fa-language{style: "color: #{'red' if params[:controller] == 'terms'}"}
          = link_to 'Terms', terms_path

      .col-sm-3.menu-item
        %i.fa.fa-tags{style: "color: #{'red' if params[:controller] == 'categories'}"}
          = link_to 'Categories', categories_path



    = yield

    %hr{style: 'margin-top: 4em;'}

    .footer

      .menu-item
        %i.fa.fa-navicon{style: "color: #{'red' if params[:controller] == 'events'}"}
          = link_to 'Events', events_path

      .menu-item
        %i.fa.fa-folder-open{style: "color: #{'red' if params[:controller] == 'sources'}"}
          = link_to 'Sources', sources_path

      .menu-item
        %i.fa.fa-comment{style: "color: #{'red' if params[:controller] == 'quotes'}"}
          = link_to 'Quotes', quotes_path

      .menu-item
        %i.fa.fa-tags{style: "color: #{'red' if params[:controller] == 'categories'}"}
          = link_to 'Categories', categories_path

      .menu-item
        %i.fa.fa-user{style: "color: #{'red' if params[:controller] == 'people'}"}
          = link_to 'People', people_path

      .menu-item
        %i.fa.fa-square{style: "color: #{'red' if params[:controller] == 'outlines'}"}
          = link_to 'Outlines', outlines_path
