!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Timeline
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .page-header.row

      .col-sm-3.menu-item
        %i.fa.fa-navicon{style: "color: #{'red' if params[:controller] == 'events'}"}
          = link_to 'Events', events_path

      .col-sm-3.menu-item
        %i.fa.fa-folder-open{style: "color: #{'red' if params[:controller] == 'sources'}"}
          = link_to 'Sources', sources_path

      .col-sm-3.menu-item
        %i.fa.fa-comment{style: "color: #{'red' if params[:controller] == 'quotes'}"}
          = link_to 'Quotes', quotes_path

      .col-sm-3.menu-item
        %i.fa.fa-tags{style: "color: #{'red' if params[:controller] == 'categories'}"}
          = link_to 'Categories', categories_path


    = yield
