!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Timeline
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{style: "width: 90%; margin: auto;"}

    .page-header
      %div{style: 'font-size: 2.5em; margin-bottom: 40px;'}
        %div{style: 'width: 30%; margin:auto; float: left;'}
          %i.fa.fa-navicon{style: "color: #{'red' if params[:controller] == 'events'}"}
            = link_to 'Events', events_path
        %div{style: 'width: 30%; margin:auto; float: left;'}

          %i.fa.fa-folder-open{style: "color: #{'red' if params[:controller] == 'sources'}"}
            = link_to 'Sources', sources_path
        %div{style: 'width: 30%; margin:auto; float: left;'}
          %i.fa.fa-tags{style: "color: #{'red' if params[:controller] == 'categories'}"}
            = link_to 'Categories', categories_path

    = yield

    .footer{style: 'margin-top: 50px;'}
